<p>アート理容室ユーザー情報入力ありがとうございます <%= @email %>!</p>
<% if @resource.unconfirmed_email %>
  <p>下記のリンクをクリックするとメールアドレスが変更されます。</p>
<% else %>
  <p>下記のリンクをクリックしてユーザ登録を完了してください。</p>
<% end %>
<p><%= link_to 'ここを押してメールアドレスを認証する', controller: 'devise/confirmations',action: 'create',confirmation_token: @token %></p>

<p>※このメールに心当たりが無い方はこのまま何もせず削除してください</p>
