<p>アート理容室パスワード変更 <%= @resource.email %>!</p>

<p>下記のリンクをクリックするとパスワードがリセットされます。</p>

<p><%= link_to 'ここをクリックしてパスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※このメールに心当たりが無い方はこのまま何もせず削除してください</p>
